
<body>
  <p id="notices">Book was successfully created.</p>
  <strong>Title: </strong>
  <p><%= @data.title %></p>


  <strong>Body: </strong>
  <p><%= @data.body %></p>


  <span><%= link_to "Edit", "/books/#{@data.id}/edit" %></span>
  <span><%= link_to "Back", "/books" %></span>
</body>
